.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 300px) {
    flex-direction: row;
  }
}



.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  @media screen and (min-width: 300px) { 
    margin-right: 10px;
  }
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-image picture {
  border-bottom: 3px solid red;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
